:root {
  --back-image: url("/images/cover-image-dark.png");
  --text-back: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-text-color: #000028;
  --focus-title: #FF0070;
  --rec-border: #FF0070;

  --rec-radius-border: 1px solid #FF0070;
  --rec-radius: 100%;
  --rec-radius-back: #FF0070;
  --rec-radius-shadow: 0 0 4px 2px #FF0070;
  --rec-text: #FF0070;

  --header-button-hover: rgba(255, 0, 112, 0.40);
  --back-color: #000028;

}

:root .page {
  --padding: 20px;
  --padding-mobile: 10px;
  --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-title-mob: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-familytext: 'IBM Plex Mono', 'OpenSans', sans-serif;

}